{% extends 'base.html' %}
{% load static %}
{% block content %}



    <body>

    <div class="main-wrapper">


        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="row">
                    <div class="col-md-8">
                        <div class="blog-view">
                            <article class="blog blog-single-post">
                                <h3 class="blog-title">Do you know About {{ calisan.name }} ?</h3>
                                <div class="blog-info clearfix">
                                    <div class="post-left">
                                        <ul>
                                            <li><a href="#"><i class="fas fa-user-o" aria-hidden="true"></i> <span>{{ calisan.email}}</span></a>
                                            </li>
                                            <li><a href="#"><i class="fas fa-user-o" aria-hidden="true"></i> <span>{{ calisan.phone}}</span></a>
                                            </li>
                                        </ul>
                                    </div>
{#                                    <div class="post-right"><a href="#"><i class="fas fa-comment-o"#}
{#                                                                           aria-hidden="true"></i>1#}
{#                                        Comment</a></div>#}
                                </div>
                                <div class="blog-image">
                                    {% if calisan.img %}
                                        <a href="#"><img alt="" src="{{calisan.img.url}}" class="img-fluid"></a>
                                    {% else %}
                                        <a href="#"><img alt="" src="{% static 'assets/img/blog/blog-01.jpg' %}" class="img-fluid"></a>
                                    {% endif %}
                                </div>
                                <div class="blog-content">
                                    <p>{{ calisan.description }}</p>
                                </div>
                            </article>

                        <div class="widget author-widget clearfix">
                            <h3>About author</h3>
                            <div class="about-author">
                                <div class="about-author-img">
                                    <div class="author-img-wrap">
                                        <img class="img-fluid rounded-circle" alt="" src="assets/img/user.jpg">
                                    </div>
                                </div>
                                <div class="author-details">
                                    <span class="blog-author-name">Linda Barrett</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        noftrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                </div>
                            </div>
                        </div>



                        </div>
                    </div>
                    <aside class="col-md-4">

                        <div class="widget post-widget">
                            <h5>Experiences</h5>
                            <ul class="laTest-posts">
                                <li>
                                    <div class="post-thumb">
                                        <a href="blog-details.html">
                                            <b>Experience1</b>
                                        </a>
                                    </div>

                                    <div class="post-info">
                                        <h4>
                                            <a href="blog-details.html">{{ calisan.experience1}}</a>
                                        </h4>

                                    </div>
                                </li>
                                <li>

                                    <div class="post-thumb">
                                        <a href="blog-details.html">
                                            <b>Experience1</b>
                                        </a>
                                    </div>

                                    <div class="post-info">

                                        <h4>
                                            <a href="blog-details.html">{{ calisan.experience2}}</a>
                                        </h4>

                                    </div>
                                </li>
                                <li>
                                    <div class="post-thumb">
                                        <a href="blog-details.html">
                                            <b>Experience1</b>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
                                            <a href="blog-details.html">{{ calisan.experience3}}</a>
                                        </h4>

                                    </div>
                                </li>

                            </ul>
                        </div>


                    </aside>
                </div>
            </div>

        </div>

    </div>

    </body>
{% endblock %}