{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>

    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="card-box m-b-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        {% if urun.img %}
                                            <a href="#"><img class="avatar" src="{{ urun.img.url }}" alt=""></a>
                                        {% else %}
                                            <a href="#"><img class="avatar" src="{% static 'assets/img/user.jpg' %}"
                                                             alt=""></a>
                                        {% endif %}


                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                                <ul class="personal-info">
                                                    <li>
                                                        <span class="title">Name: </span>
                                                        <span class="text"><a href="#">{{ urun.name }}</a></span>
                                                    </li>
                                                    <li>
                                                        <span class="title">Category:</span>
                                                        <span class="text">{{ urun.category }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="title">Fiyat:</span>
                                                        <span class="text">{{ urun.price }} {{ urun.birim }}</span>
                                                    </li>
                                                    <li>
                                                        <span class="title">Renk-size:</span>
                                                        <span class="text">{{ urun.color }} {{ urun.size }}</span>

                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="col-md-7">


                                            <div class="col-md-8 col-sm-12">
                                                <div class="ribbon-wrapper card">
                                                    <div class="card-body">
                                                        <div class="ribbon ribbon-success">Aciklama</div>
                                                        <p>{{ urun.description }}</p>
                                                        <h5 class="company-role m-t-0 m-b-0">{{ urun.date|date:"F  d  Y" }}

                                                            <a style="margin-left: 1rem" href="{% url 'urunler' %}">
                                                            <button type="button" class="btn btn-success btn-sm mb-0.1">
                                                                < Geri Don
                                                            </button>
                                                        </a></h5>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    </body>
{% endblock %}